.page-paginator {
  width: 90%;
  margin: 0 auto 50px auto;
  padding: 25px 0;

  button {
    display: inline-block;

    a {
      color: $weave-indigo;
      text-decoration: none;
      font-family: $primary-copy-font;
      font-weight: 200;
    }
  }
  button.next {
    float: right;
  }
  button.prev {
    float: left;
  }
}

.main-cta, .secondary-cta {
  position: relative;
  z-index: 1;
  text-align: center;
  opacity: 0.9;
  background: url('.././images/bluediamonds.jpg') center / cover;
  -webkit-box-shadow: -1px 10px 5px -8px rgba(0,0,0,0.29);
  -moz-box-shadow: -1px 10px 5px -8px rgba(0,0,0,0.29);
  box-shadow: -1px 10px 5px -8px rgba(0,0,0,0.29);

  div {
    margin: 0;
    background: transparent;
    padding: 10px 0;

    button {
      color: $primary-white !important;
      font-size: $regular;
      height: auto;
      padding: 10px 0;
      border-radius: 0;
      margin: 0;
      width: 100%;

      &:hover {
        background: transparent;
        color: $weave-indigo-light !important;
      }
    }
    div:hover {
      button {
        color: $weave-indigo;
      }
    }
  }
  div:first-of-type {
    border-right: 1px solid $primary-white;
  }

  @media(max-width: 839px) {
    div:first-of-type {
      border-bottom: 1px solid $primary-white;
      border-right: none;
      width: 100%;
    }
  }
}

.secondary-cta {

  div {
    margin: 0;
    background-color: #000000;
    padding: 10px 0;
    opacity: 0.9;
  }
}
