.headline-general {
  font-family: $primary-headline-font;
  font-size: $large;
}

.copy-general {
  font-family: $primary-copy-font;
  font-size: $regular;
}

.subheadline-general {
  font-family: $primary-subheadline-font;
  font-size: $large;
}

.muted {
  font-size: $muted;
  font-weight: 200;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
