.home-content {

  .mdl-layout__container {
    top: 0;
    height: 100vh;
    background-color: $primary-black;

    .home-hero {
        background: url('.././images/cockpitbg.jpeg') center / cover;
        background-repeat: no-repeat;
        position: relative;
        top: 0;

      div.hero-shadow {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-black;
        opacity: 0.1;
      }

      .mdl-layout__header, .mdl-layout__drawer-button  {
        text-transform: capitalize;
        position: fixed;

        span, a {
          color: $primary-white;
          font-family: $primary-link-font;
          text-decoration: none;
          font-size: $regular;
          border-bottom: 3px solid transparent;
        }

        a:hover {
          border-bottom: 3px solid $weave-indigo-light;
        }

        span.mdl-layout-title {
          a {
            font-size: 25px;

            &:hover {
              border: none;
            }
          }
        }
      }

      .mdl-layout__drawer, .mdl-layout__obfuscator {
        position: fixed;
      }

      .mdl-layout__drawer {

        p {
         margin: 65px auto 0 auto;
         color: $primary-grey;

         span {
           margin: 0 27px 0 -25px;

           i {
             position: absolute;
           }
         }
        }
        a {
          text-transform: capitalize;
          font-family: $primary-link-font;
          font-size: 20px;
        }
        div.mdl-grid {
          word-wrap: break-word;

          span {
            font-size: $muted;
            color: grey;
          }
        }
      }

      .mdl-layout__content {
        text-align: center;
        margin: 140px 0 0 0;

        h1 {
          margin: 90px 0 0 0;
          font-weight: 800;
          color: $primary-white;
        }

        p {
          font-weight: 200;
          font-size: $regular;
          color: $primary-white;
        }
      }
    }
  }

  section.home-cta {
    margin-top: 75vh;
    position: relative;
    z-index: 1;
    text-align: center;
    opacity: 0.9;

    div {
      margin: 0 15px;
      padding: 10px 0;

      button {
        height: auto;
        padding: 10px 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        margin: 0 auto;
        color: $primary-white;
        font-family: $primary-copy-font;
        font-size: $regular;

        &:hover {
          background-color: $primary-white;
          color: $weave-indigo;
          border-radius: 3px;
        }
      }
      div:hover {
        button {
          color: $weave-indigo;
        }
      }
    }
  }

  .feature-tiles-mini-wrapper {
    padding: 200px 0;

    .feature-tiles-mini {

      .mdl-cell {

        .f-tile-mini {
          padding: 45px;
          background-color: $primary-white;

          @media(max-width: 840px) {
            padding: 50px 30px;
          }
        }
        .docker-tile {
          background: url('.././images/docker_symbol_logo.png') center / cover;
        }
        .gopher-tile {
          background: url('.././images/gopher_tile.png') center / cover;
        }
        .react-tile {
          background: url('.././images/react_tile.png') center / cover;
        }
        .wheel-tile {
          background: url('.././images/wheel_tile.png') center / cover;
        }
        .google-hex-tile {
          background: url('.././images/google_hex_tile.png') center / cover;
        }
        .neo4j-tile {
          background: url('.././images/neo4j_tile.png') center / cover;
        }
      }
    }

    @media(max-width: 840px) {
      padding: 0;
    }
  }
}
