.privacy-content {
  padding: 100px;

  h2 {
    color: $weave-indigo;
  }

  h3 {
    font-size: $regular;
  }

  p {
    color: $primary-grey;
  }
  
  @media(max-width: 620px) {
    padding: 100px 5px;
  }
}
