/*
-------------------------------------------
Primary Colors
----------------------------------------------
*/

$primary-white         : #FFF;
$primary-black         : #000000;
$primary-lightgrey     : #F5F5F5;
$primary-grey          : #919695;
$weave-indigo          : #2EAF9F;
$weave-navy            : #079F93;
$weave-red             : #F95418;
$weave-indigo-light    : #B6FEF4;

/*
-------------------------------------------
Primary Fonts
----------------------------------------------
*/

$primary-copy-font        : Roboto, sans-serif;
$primary-headline-font    : Josefin Sans, sans-serif;
$primary-subheadline-font : Raleway, sans-serif;
$primary-link-font        : Josefin Sans, sans-serif;


/*
-------------------------------------------
Primary Font Sizes
----------------------------------------------
*/

$muted                     : 12px;
$small                     : 15px;
$regular                   : 20px;
$medium                    : 35px;
$large                     : 50px;


/*
-------------------------------------------
Border Sizes
----------------------------------------------
*/

$base-border-white         : 1px solid $primary-white;
$base-border-lightgrey     : 1px solid $primary-lightgrey;
$base-border-indigo        : 1px solid $weave-indigo;
$base-border-grey          : 1px solid $primary-grey;
