<section class="hidden request-demo-modal modal-content">
  <i id="close-demo-modal" class="material-icons">close</i>
  <form action="#" class="mdl-grid">
    <img src="../.././images/weave_symbol_logo.png" />
    <h1>Schedule A Demo</h1>
    <div class="mdl-textfield mdl-js-textfield mdl-cell--6-col mdl-cell--12-col-tablet">
      <input class="mdl-textfield__input" type="text" id="sample1">
      <label class="mdl-textfield__label" for="sample1">First Name...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-cell--6-col mdl-cell--12-col-tablet">
      <input class="mdl-textfield__input" type="text" id="sample1">
      <label class="mdl-textfield__label" for="sample1">Last Name...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-cell--6-col mdl-cell--12-col-tablet">
      <input class="mdl-textfield__input" type="text" id="sample1">
      <label class="mdl-textfield__label" for="sample1">Email Address...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-cell--6-col mdl-cell--12-col-tablet">
      <input class="mdl-textfield__input" type="text" id="sample1">
      <label class="mdl-textfield__label" for="sample1">Phone Number...</label>
    </div>
  </form>
</section>
