<footer class="footer mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <ul class="mdl-mega-footer__link-list">
        <li><img src="../.././images/weave_symbol_logo.png" /></li>
      </ul>
      <p class="text-left"><span><i class="material-icons">copyright</i></span> 2017 Weave LLC.</p>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Company</h1>
      <ul class="mdl-mega-footer__link-list">
        {{ range .Site.Menus.company }}
          <li><a href="/views/{{ .Name }}">{{ .Name }}</a></li>
        {{ end }}
        <li><a href="/post">blog</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Features</h1>
      <ul class="mdl-mega-footer__link-list">
        {{ range .Site.Menus.features }}
          <li><a href="/views/{{ .Name }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Contact</h1>
      <ul class="mdl-mega-footer__link-list">
        {{ range .Site.Menus.contact }}
          <li><a href="/views/{{ .Name }}">{{ .Name }}</a></li>
        {{ end }}
        <li><a target="_blank" href="https://www.facebook.com/useweave">Facebook</a></li>
        <li><a target="_blank" href="https://twitter.com/useweave">Twitter</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/company-beta/4802235/">LinkedIn</a></li>
      </ul>
    </div>
  </div>


  <div class="mdl-mega-footer__bottom-section">
    <ul class="mdl-mega-footer__link-list text-left">
      <li>Boulder, CO.</li>
      <li>720-575-7030</li>
      <li>support@weaveiq.com</li>
    </ul>
  </div>
</footer>
