<section class="main-cta mdl-shadow--2dp">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <button id="show-demo-modal" class="mdl-button mdl-js-button mdl-button--primary copy-general">
        see it in action
      </button>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <button id="show-demo-form" class="mdl-button mdl-js-button mdl-button--primary copy-general">
        schedule a demo
      </button>
    </div>
  </div>
</section>
