<section class="privacy-content">
  <div class="">
    <h2 class="subheadline-general">{{ .Get "headline"}}</h2>
    <p class="copy-general">{{ .Get "copy_one" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_two"}}</h3>
    <p class="copy-general">{{ .Get "copy_two" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_three"}}</h3>
    <p class="copy-general">{{ .Get "copy_three" }}</p><br />
    <p class="copy-general">{{ .Get "copy_four" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_four"}}</h3>
    <p class="copy-general">{{ .Get "copy_five" }}</p><br />
    <p class="copy-general">{{ .Get "copy_six" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_five"}}</h3>
    <p class="copy-general">{{ .Get "copy_seven" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_six"}}</h3>
    <p class="copy-general">{{ .Get "copy_eight" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_seven"}}</h3>
    <p class="copy-general">{{ .Get "copy_nine" }}</p><br />
    <p class="copy-general">{{ .Get "copy_ten" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_eight"}}</h3>
    <p class="copy-general">{{ .Get "copy_eleven" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_nine"}}</h3>
    <p class="copy-general">{{ .Get "copy_twelve" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_ten"}}</h3>
    <p class="copy-general">{{ .Get "copy_thirteen" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_eleven"}}</h3>
    <p class="copy-general">{{ .Get "copy_fourteen" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_twelve"}}</h3>
    <p class="copy-general">{{ .Get "copy_fifteen" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_thirteen"}}</h3>
    <p class="copy-general">{{ .Get "copy_sixteen" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_fourteen"}}</h3>
    <p class="copy-general">{{ .Get "copy_seventeen" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_fifteen"}}</h3>
    <p class="copy-general">{{ .Get "copy_eighteen" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_sixteen"}}</h3>
    <p class="copy-general">{{ .Get "copy_nineteen" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_seventeen"}}</h3>
    <p class="copy-general">{{ .Get "copy_twenty" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_eighteen"}}</h3>
    <p class="copy-general">{{ .Get "copy_twentyone" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_nineteen"}}</h3>
    <p class="copy-general">{{ .Get "copy_twentytwo" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_twenty"}}</h3>
    <p class="copy-general">{{ .Get "copy_twentythree" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_twentyone"}}</h3>
    <p class="copy-general">{{ .Get "copy_twentyfour" }}</p><br />
    <h3 class="subheadline-general">{{ .Get "subheadline_twentytwo"}}</h3>
    <p class="copy-general">{{ .Get "copy_twentyfive" }}</p><br />
    <p class="copy-general">{{ .Get "copy_twentysix" }}</p><br />
  </div>
</section>
